@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @RenderPage("Titulo.cshtml")
    <hr />
    <h2>Conteúdo da página</h2>
    <hr />
    @RenderPage("Rodape.cshtml")
</body>
</html>
