@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>Título da Página</h1>
    <p>
        Contato: vendas@empresa.com.br
    </p>
    A soma de 10 + 5 é @@10+5
</body>
</html>
