@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<section class="section">
    <div class="col-lg-4">
        <div class="card mb-3">
                <div class="card-body">
                <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Entre na sua Conta</h5>
                    <p class="text-center small">Digite seu usuário e senha para logar</p>
                </div>
                <form class="row g-3" id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-12">
                        <label asp-for="Input.Username" class="form-label"></label>
                        <div class="input-group has-validation">
                            <span class="input-group-text" id="inputGroupPrepend">@@</span>
                            <input asp-for="Input.Username" class="form-control" aria-required="true" />
                        </div>
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <label asp-for="Input.Password" class="form-label"></label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe" class="form-check-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">Login</button>
                    </div>
                    <div class="col-12">
                        <p class="small mb-0">Não tem conta? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Criar uma conta</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
